{% if S_USER_VERIFIED %}
	<dl>
		<dt><label for="user_verify_visibility">{{ lang( 'UCP_VERIFIED_PROFILE_VISIBILITY_LABEL' ) }}{{ lang( 'COLON' ) }}</label><br /><span>{{ lang( 'UCP_VERIFIED_PROFILE_VISIBILITY_DESCRIPTION' ) }}</span></dt>
		<dd><label><input type="radio" class="radio" name="user_verify_visibility" value="1" id="user_verify_visibility" <!-- IF not S_VERIFY_HIDE -->checked="checked"<!-- ENDIF -->/> {{ lang( 'UCP_VERIFY_SETTING_SHOW' ) }}</label>
			<label><input type="radio" class="radio" name="user_verify_visibility" value="0" id="user_verify_visibility" <!-- IF S_VERIFY_HIDE -->checked="checked"<!-- ENDIF -->/> {{ lang( 'UCP_VERIFY_SETTING_HIDE' ) }}</label></dd>
	</dl>
{% endif %}